* {
    font-family: "Sarcolenta";
}

body {
    font-size: 1.6rem;
}

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

nav a {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    flex: 1;
    padding: 1.2rem;
}

nav a:hover {
    background: yellow;
    color: black;
}

main {
    text-align: center;
}

.platillo {
    margin: 3rem;
    box-shadow: 0 0 0.1rem;
    width: 70%;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

main h1 {
    text-shadow: 0.2rem 0.2rem 0.4rem black;
    font-weight: bolder;
    font-size: 2rem;

}

section {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
    font-weight: bold;
    height: 10%;
}

section img {
    box-shadow: 0 0 0.1rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
    width: 25rem;

}

.menuV p {
    margin: 0;
    background-color: #cec405;
    color: #fff;
    font-weight: 600;
    text-align: center;
    height: 33%;
}

.texto1 {
    margin: 0 0 0 2rem;
}

.texto2 {
    font-weight: 100;
    width: 100%;
    margin: 0 2rem 0 0;
    text-align: center;
}

.Contacto {
    text-align: left;
    text-shadow: none;
    text-align: center;
    margin: 2rem;
    background-color: rgb(181, 172, 171);
    border-radius: 0.2rem;
}

.Contacto h1 {
    margin: 3rem 3rem 3rem 3rem;
    text-align: left;
    text-shadow: none;
}

.Formularios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
}

.Formularios p {
    margin: 3rem 3rem 3rem 3rem;
    text-align: left;
    text-shadow: none;
}
.Imputs {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    border: 0.1rem solid gray;

}
.enviar {
    width: 20%;
    padding: 0.7rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(66, 166, 70);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.OpcionesFormulario *{
    text-align: right;
}
.etiquetasFormulario {
    text-align: left;
}


footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #cec405;
}

footer div{
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #cec405;
    flex: 1;
}
footer div h3{
    font-weight: bolder;
}

@font-face {
    font-family: "Sarcolenta";
    src: url(./Ficheros/Sarcolenta.ttf);
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    section {
        grid-template-columns: 1fr;
    }
}